* {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 0.5em;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

input {
  width: 100%;
  padding: 1em;
  font-size: 0.8em;
  margin: 0.5em;
}

button {
  font-size: 1em;
  margin: 0.5em;
  padding: 0.5em 1em;
}

table {
  width: 100%;
}

td {
  border-bottom: 2px dashed #888;
}

.block {
  margin-bottom: 1em;
}

.transaction {
  margin-left: 1em;
}

.transaction .amount {
  font-weight: bold;
}

.transaction .amount, .transaction .fee {
  margin: 0 0.5em;
}
